{{#each this}}
  <div class="item-country" style = "display: flex">
      <img class="img-country" src="{{flags.svg}}" alt="flag" width="25px" height="20px">
      <h2 class="item-title"  style ="margin-left: 10px">{{name.official}}</h2>
  </div>
{{/each}}