{{#each this}}
  <div class="item-country" >
      <img class="img-country" src="{{flags.svg}}" alt="flag" width="25px" height="22px">
      <h2 class="item-title">{{name.official}}</h2>
  </div>
{{/each}}